
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPost</title>
</head>
<body>
    @* after posting data, through viewbag*@
    Welcome @ViewBag.Username, your password is @ViewBag.password
</body>
</html>
