@model PracticeProject.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginSuccess</title>
</head>
<body>
    Strongly typed  
    welcome @ViewBag.Username, password: @ViewBag.Password
</body>
</html>
