@model PracticeProject.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetails</title>
</head>
<body>
    <h1>User details</h1>
    <h3>Username: @Model.Username</h3>
    <h3>Username: @Model.Password</h3>

</body>
</html>
